.header {
  display: flex;
  column-gap: 20px;
  z-index: 1;
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.67);
  touch-action: pan-x pan-y;
}
