.container {
  position: fixed;
  inset: 0;
  background: #f9f9f9;
  overflow: hidden;
  user-select: none;
  touch-action: none;
}

.canvas {
  background: linear-gradient(rgba(180, 180, 180, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(180, 180, 180, 0.3) 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0;
  will-change: transform;
}
